/*----------------------------------------------------------------------------*\
    ICONS
\*----------------------------------------------------------------------------*/
/**
 *
 *  SVG font icon set.
 *
 *  Icons are defined in 'assets/img/icons.svg', and included in the page
 *  immediately after the opening <body> tag.
 *
 *  Usage:
 *  <svg class="icon" width="100"><use xlink:href="#symbol-id"></use></svg>
 *
 *  Further reference:
 *  https://css-tricks.com/using-svg/
 *  https://css-tricks.com/svg-symbol-good-choice-icons/
 *
 */

/**
 *  Shared styles.
 */
.o-icon,
.o-icon-text {
  @extend %transition;
  display: inline-block;
  vertical-align: middle;
}

/**
 *  Standard icon class.
 */
.o-icon {
  width: 2rem; height: 2rem;                      // 32px
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.o-icon--xs { width: 1rem; height: 1rem; }        // 16px
.o-icon--s  { width: 1.5rem; height: 1.5rem; }    // 24px
.o-icon--l  { width: 3rem; height: 3rem; }        // 48px
.o-icon--xl { width: 3.75rem; height: 3.75rem; }  // 60px

.o-icon--thick { stroke-width: 2px; }
.o-icon--thicker { stroke-width: 3px; }
.o-icon--thickest { stroke-width: 5px; }

/**
 *  The icon text. Add some margin for separation.
 */
.o-icon-text + .o-icon,
.o-icon + .o-icon-text {
  margin-left: 0.35em;
}

/**
 *  Icon text for screen readers. Visually hidden, but still accessible.
 */
.o-icon-hint {
  @include visually-hidden();
}
