/*------------------------------------*\
	$GENERIC FONT STACKS
\*------------------------------------*/
/**
 *
 * These are common font stacks for generic use.
 *
 */

/**
 * System font stack (https://medium.com/@mwichary/system-shock-6b1dc6d6596f).
 * The font is rendered on San Francisco (Mac OS), Roboto (Android) or Segoe UI (Windows).
 */
$font-stack-system: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

/**
 * Generic font stacks.
 */
$font-stack-georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-stack-lucida: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
$font-stack-verdana: "Verdana", "Geneva", sans-serif;
$font-stack-mono: "Inconsolata", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
