/*----------------------------------------------------------------------------*\
   POSITION
\*----------------------------------------------------------------------------*/
/**
 *
 * Utility classes for the position property.
 *
 */

.u-pos-s { position: static !important; }
.u-pos-r { position: relative !important; }
.u-pos-a { position: absolute !important; }
