/*----------------------------------------------------------------------------*\
   COLORS
\*----------------------------------------------------------------------------*/
/**
 *
 * Utility classes for colors.
 *
 */

.u-color-accent { color: $ui-color-accent !important; }
.u-color-text   { color: $ui-color-text !important; }
.u-color-white  { color: $white !important; }

// Add custom colors here
