/*----------------------------------------------------------------------------*\
   UTILITIES
\*----------------------------------------------------------------------------*/
/**
 *
 * Helper classes.
 *
 */

/**
 * The all-powerful clearfix.
 */
.u-cf              { @include clearfix; }

/**
 * Display
 */
.u-d-b              { display: block !important; }
.u-d-i              { display: inline !important; }
.u-d-ib             { display: inline-block !important; }

/**
 * Floats
 */
.u-fl-l             { float: left !important; }
.u-fl-r             { float: right !important; }

/**
 * Position
 */
.u-pos-s             { position: static !important; }
.u-pos-r             { position: relative !important; }
.u-pos-a             { position: absolute !important; }

/**
 * Text
 */
.u-text-left         { text-align: left !important; }
.u-text-center       { text-align: center !important; }
.u-text-right        { text-align: right !important; }

.u-text-serif        { font-family: $ui-serif !important; }
.u-text-sans         { font-family: $ui-sans !important; }
.u-text-mono         { font-family: $ui-mono !important; }

.u-text-regular      { font-weight: 400 !important; }
.u-text-bold         { font-weight: 700 !important; }
.u-text-light        { font-weight: 300 !important; }
.u-text-plain        { font-style: normal !important; }
.u-text-oblique      { font-style: oblique !important; }

.u-text-l            { font-size: 1em + 0.125em !important; }
.u-text-xl           { font-size: 1em + 0.25em !important; }
.u-text-s            { font-size: 1em - 0.125em !important; }
.u-text-xs           { font-size: 1em - 0.25em !important; }

.u-text-compact      { line-height: $ui-line-height - 0.25 !important; }
.u-text-compress     { line-height: 1 !important; }

.u-text-white        { color: $white !important; }

/**
 * Opacity
 */
.u-opacity-80       { opacity: 0.8 !important; }
.u-opacity-60       { opacity: 0.6 !important; }
.u-opacity-40       { opacity: 0.4 !important; }
.u-opacity-20       { opacity: 0.2 !important; }

/**
 * Visibility
 */
.u-hide             { display: none !important; }
.u-hide\@s          { @include bp-small  { display: none !important; } }
.u-hide\@m          { @include bp-medium { display: none !important; } }
.u-hide\@l          { @include bp-large  { display: none !important; } }
.u-screenreader     { @include visually-hidden(); }

/**
 * Spacing
 */
.u-m                { margin: $ui-unit !important; }
.u-m-d              { margin: double( $ui-unit ) !important; }
.u-m-h              { margin: half( $ui-unit ) !important; }
.u-m-q              { margin: quarter( $ui-unit ) !important; }

.u-mt               { margin-top: $ui-unit !important; }
.u-mt-d             { margin-top: double( $ui-unit ) !important; }
.u-mt-h             { margin-top: half( $ui-unit ) !important; }
.u-mt-q             { margin-top: quarter( $ui-unit ) !important; }

.u-mb               { margin-bottom: $ui-unit !important; }
.u-mb-d             { margin-bottom: double( $ui-unit ) !important; }
.u-mb-h             { margin-bottom: half( $ui-unit ) !important; }
.u-mb-q             { margin-bottom: quarter( $ui-unit ) !important; }

.u-ml               { margin-left: $ui-unit !important; }
.u-ml-d             { margin-left: double( $ui-unit ) !important; }
.u-ml-h             { margin-left: half( $ui-unit ) !important; }
.u-ml-q             { margin-left: quarter( $ui-unit ) !important; }

.u-mr               { margin-right: $ui-unit !important; }
.u-mr-d             { margin-right: double( $ui-unit ) !important; }
.u-mr-h             { margin-right: half( $ui-unit ) !important; }
.u-mr-q             { margin-right: quarter( $ui-unit ) !important; }

.u-no-m             { margin: 0 !important; }
.u-no-mt            { margin-top: 0 !important; }
.u-no-mb            { margin-bottom: 0 !important; }
.u-no-ml            { margin-left: 0 !important; }
.u-no-mr            { margin-right: 0 !important; }

.u-p                { padding: $ui-unit !important; }
.u-p-d              { padding: double( $ui-unit ) !important; }
.u-p-h              { padding: half( $ui-unit ) !important; }
.u-p-q              { padding: quarter( $ui-unit ) !important; }

.u-pt               { padding-top: $ui-unit !important; }
.u-pt-d             { padding-top: double( $ui-unit ) !important; }
.u-pt-h             { padding-top: half( $ui-unit ) !important; }
.u-pt-q             { padding-top: quarter( $ui-unit ) !important; }

.u-pb               { padding-bottom: $ui-unit !important; }
.u-pb-d             { padding-bottom: double( $ui-unit ) !important; }
.u-pb-h             { padding-bottom: half( $ui-unit ) !important; }
.u-pb-q             { padding-bottom: quarter( $ui-unit ) !important; }

.u-pl               { padding-left: $ui-unit !important; }
.u-pl-d             { padding-left: double( $ui-unit ) !important; }
.u-pl-h             { padding-left: half( $ui-unit ) !important; }
.u-pl-q             { padding-left: quarter( $ui-unit ) !important; }

.u-pr               { padding-right: $ui-unit !important; }
.u-pr-d             { padding-right: double( $ui-unit ) !important; }
.u-pr-h             { padding-right: half( $ui-unit ) !important; }
.u-pr-q             { padding-right: quarter( $ui-unit ) !important; }

.u-no-p             { padding: 0 !important; }
.u-no-pt            { padding-top: 0 !important; }
.u-no-pb            { padding-bottom: 0 !important; }
.u-no-pl            { padding-left: 0 !important; }
.u-no-pr            { padding-right: 0 !important; }

@include bp-medium {

  .u-m\@m           { margin: $ui-unit !important; }
  .u-m-d\@m         { margin: double( $ui-unit ) !important; }
  .u-m-h\@m         { margin: half( $ui-unit ) !important; }
  .u-m-q\@m         { margin: quarter( $ui-unit ) !important; }

  .u-mt\@m          { margin-top: $ui-unit !important; }
  .u-mt-d\@m        { margin-top: double( $ui-unit ) !important; }
  .u-mt-h\@m        { margin-top: half( $ui-unit ) !important; }
  .u-mt-q\@m        { margin-top: quarter( $ui-unit ) !important; }

  .u-mb\@m          { margin-bottom: $ui-unit !important; }
  .u-mb-d\@m        { margin-bottom: double( $ui-unit ) !important; }
  .u-mb-h\@m        { margin-bottom: half( $ui-unit ) !important; }
  .u-mb-q\@m        { margin-bottom: quarter( $ui-unit ) !important; }

  .u-ml\@m          { margin-left: $ui-unit !important; }
  .u-ml-d\@m        { margin-left: double( $ui-unit ) !important; }
  .u-ml-h\@m        { margin-left: half( $ui-unit ) !important; }
  .u-ml-q\@m        { margin-left: quarter( $ui-unit ) !important; }

  .u-mr\@m          { margin-right: $ui-unit !important; }
  .u-mr-d\@m        { margin-right: double( $ui-unit ) !important; }
  .u-mr-h\@m        { margin-right: half( $ui-unit ) !important; }
  .u-mr-q\@m        { margin-right: quarter( $ui-unit ) !important; }

  .u-no-m\@m        { margin: 0 !important; }
  .u-no-mt\@m       { margin-top: 0 !important; }
  .u-no-mb\@m       { margin-bottom: 0 !important; }
  .u-no-ml\@m       { margin-left: 0 !important; }
  .u-no-mr\@m       { margin-right: 0 !important; }

  .u-p\@m           { padding: $ui-unit !important; }
  .u-p-d\@m         { padding: double( $ui-unit ) !important; }
  .u-p-h\@m         { padding: half( $ui-unit ) !important; }
  .u-p-q\@m         { padding: quarter( $ui-unit ) !important; }

  .u-pt\@m          { padding-top: $ui-unit !important; }
  .u-pt-d\@m        { padding-top: double( $ui-unit ) !important; }
  .u-pt-h\@m        { padding-top: half( $ui-unit ) !important; }
  .u-pt-q\@m        { padding-top: quarter( $ui-unit ) !important; }

  .u-pb\@m          { padding-bottom: $ui-unit !important; }
  .u-pb-d\@m        { padding-bottom: double( $ui-unit ) !important; }
  .u-pb-h\@m        { padding-bottom: half( $ui-unit ) !important; }
  .u-pb-q\@m        { padding-bottom: quarter( $ui-unit ) !important; }

  .u-pl\@m          { padding-left: $ui-unit !important; }
  .u-pl-d\@m        { padding-left: double( $ui-unit ) !important; }
  .u-pl-h\@m        { padding-left: half( $ui-unit ) !important; }
  .u-pl-q\@m        { padding-left: quarter( $ui-unit ) !important; }

  .u-pr\@m          { padding-right: $ui-unit !important; }
  .u-pr-d\@m        { padding-right: double( $ui-unit ) !important; }
  .u-pr-h\@m        { padding-right: half( $ui-unit ) !important; }
  .u-pr-q\@m        { padding-right: quarter( $ui-unit ) !important; }

  .u-no-p\@m        { padding: 0 !important; }
  .u-no-pt\@m       { padding-top: 0 !important; }
  .u-no-pb\@m       { padding-bottom: 0 !important; }
  .u-no-pl\@m       { padding-left: 0 !important; }
  .u-no-pr\@m       { padding-right: 0 !important; }

}

@include bp-large {

  .u-m\@l           { margin: $ui-unit !important; }
  .u-m-d\@l         { margin: double( $ui-unit ) !important; }
  .u-m-h\@l         { margin: half( $ui-unit ) !important; }
  .u-m-q\@l         { margin: quarter( $ui-unit ) !important; }

  .u-mt\@l          { margin-top: $ui-unit !important; }
  .u-mt-d\@l        { margin-top: double( $ui-unit ) !important; }
  .u-mt-h\@l        { margin-top: half( $ui-unit ) !important; }
  .u-mt-q\@l        { margin-top: quarter( $ui-unit ) !important; }

  .u-mb\@l          { margin-bottom: $ui-unit !important; }
  .u-mb-d\@l        { margin-bottom: double( $ui-unit ) !important; }
  .u-mb-h\@l        { margin-bottom: half( $ui-unit ) !important; }
  .u-mb-q\@l        { margin-bottom: quarter( $ui-unit ) !important; }

  .u-ml\@l          { margin-left: $ui-unit !important; }
  .u-ml-d\@l        { margin-left: double( $ui-unit ) !important; }
  .u-ml-h\@l        { margin-left: half( $ui-unit ) !important; }
  .u-ml-q\@l        { margin-left: quarter( $ui-unit ) !important; }

  .u-mr\@l          { margin-right: $ui-unit !important; }
  .u-mr-d\@l        { margin-right: double( $ui-unit ) !important; }
  .u-mr-h\@l        { margin-right: half( $ui-unit ) !important; }
  .u-mr-q\@l        { margin-right: quarter( $ui-unit ) !important; }

  .u-no-m\@l        { margin: 0 !important; }
  .u-no-mt\@l       { margin-top: 0 !important; }
  .u-no-mb\@l       { margin-bottom: 0 !important; }
  .u-no-ml\@l       { margin-left: 0 !important; }
  .u-no-mr\@l       { margin-right: 0 !important; }

  .u-p\@l           { padding: $ui-unit !important; }
  .u-p-d\@l         { padding: double( $ui-unit ) !important; }
  .u-p-h\@l         { padding: half( $ui-unit ) !important; }
  .u-p-q\@l         { padding: quarter( $ui-unit ) !important; }

  .u-pt\@l          { padding-top: $ui-unit !important; }
  .u-pt-d\@l        { padding-top: double( $ui-unit ) !important; }
  .u-pt-h\@l        { padding-top: half( $ui-unit ) !important; }
  .u-pt-q\@l        { padding-top: quarter( $ui-unit ) !important; }

  .u-pb\@l          { padding-bottom: $ui-unit !important; }
  .u-pb-d\@l        { padding-bottom: double( $ui-unit ) !important; }
  .u-pb-h\@l        { padding-bottom: half( $ui-unit ) !important; }
  .u-pb-q\@l        { padding-bottom: quarter( $ui-unit ) !important; }

  .u-pl\@l          { padding-left: $ui-unit !important; }
  .u-pl-d\@l        { padding-left: double( $ui-unit ) !important; }
  .u-pl-h\@l        { padding-left: half( $ui-unit ) !important; }
  .u-pl-q\@l        { padding-left: quarter( $ui-unit ) !important; }

  .u-pr\@l          { padding-right: $ui-unit !important; }
  .u-pr-d\@l        { padding-right: double( $ui-unit ) !important; }
  .u-pr-h\@l        { padding-right: half( $ui-unit ) !important; }
  .u-pr-q\@l        { padding-right: quarter( $ui-unit ) !important; }

  .u-no-p\@l        { padding: 0 !important; }
  .u-no-pt\@l       { padding-top: 0 !important; }
  .u-no-pb\@l       { padding-bottom: 0 !important; }
  .u-no-pl\@l       { padding-left: 0 !important; }
  .u-no-pr\@l       { padding-right: 0 !important; }

}
