/*----------------------------------------------------------------------------*\
   FLOAT
\*----------------------------------------------------------------------------*/
/**
 *
 * Utility classes for the float property.
 *
 */

.u-fl-l { float: left !important; }
.u-fl-r { float: right !important; }
.u-fl-n { float: none !important; }
