/*----------------------------------------------------------------------------*\
   COVERER
\*----------------------------------------------------------------------------*/
/**
 *
 * Element that completely fills the parent.
 *
 */
@mixin coverer() {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
  %coverer {
    @include coverer;
  }
