/*----------------------------------------------------------------------------*\
   VISUALLY HIDDEN
\*----------------------------------------------------------------------------*/
/**
 *
 * Various mixins for hiding content.
 *
 */

/**
 * Hide element, but leaving it visible for screenreaders.
 */
@mixin visually-hidden {
  position: absolute !important;
  z-index: -1 !important;
  overflow: hidden !important;
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
}

/**
 * Hide from both screenreaders and browsers.
 */
@mixin hidden {
  display: none;
  visibility: hidden;
}

/**
 * Hide visually and from screenreaders, but maintain layout.
 */
@mixin invisible {
  visibility: hidden;
}
