/*----------------------------------------------------------------------------*\
   BREAKPOINTS
\*----------------------------------------------------------------------------*/
/**
 *
 * Defined breakpoints.
 *
 */

$bp-medium:  640px;
$bp-large:   960px;
$bp-wide:    1140px;
