/*----------------------------------------------------------------------------*\
   TYPOGRAPHY
\*----------------------------------------------------------------------------*/
/**
 *
 * Default typography settings.
 *
 */

$ui-sans:   $font-stack-system;
$ui-serif:  $font-stack-georgia;
$ui-mono:   $font-stack-mono;

$ui-font-family:   $ui-sans;
$ui-line-height:   1.5;
